<div class="container first">
    <div class="container-fluid">
      <h3>Follow us on social media</h3>
      <ul>
        <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="copyright">
© 2017 <a href="#">FIGHT FOR VOTES</a> - All Rights Reserved
</div>
</div>
