<div class="carousel2">
   <a href=""><img src="../../img/am-i-registered.jpg" alt="" id="item-1.jpg" class="img-fluid"></a>
   <a href=""><img src="img/Document.jpg" alt="" id="item-2.jpg" class="img-fluid"></a>
   <a href=""><img src="img/Early-voting.jpg" alt="" id="item-3.jpg" class="img-fluid"></a>
   <a href=""><img src="img/Meet-The-Candidates.jpg" alt="" id="item-4.jpg" class="img-fluid"></a>
   <a href=""> <img src="img/party-declaration.jpg" alt="" id="item-5.jpg" class="img-fluid"></a>
   <a href=""><img src="img/registration-data.jpg" alt="" id="item-6.jpg" class="img-fluid"></a>
   <a href=""><img src="img/Where-do-I-vote-button.jpg" alt="" id="item-7.jpg" class="img-fluid"></a>
</div>

<div class="container table">
  <div class="container-fluid inner-table">
    <ul class="">
      <a href=""><li><img src="img/am-i-registered.jpg" alt="" id="item-1.jpg" class="img-fluid">Am I Registered?</li></a>
      <a href=""><li><img src="img/Document.jpg" alt="" id="item-2.jpg" class="img-fluid">Election Result</li></a>
      <a href=""><li><img src="img/Early-voting.jpg" alt="" id="item-3.jpg" class="img-fluid">Early Voting</li></a>
      <a href=""><li><img src="img/Meet-The-Candidates.jpg" alt="" id="item-4.jpg" class="img-fluid">Meet the Candidates</li></a>
      <a href=""><li><img src="img/party-declaration.jpg" alt="" id="item-5.jpg" class="img-fluid">Party Declaration</li></a>
      <a href=""><li><img src="img/registration-data.jpg" alt="" id="item-6.jpg" class="img-fluid">Registration Data</li></a>
      <a href=""><li><img src="img/Where-do-I-vote-button.jpg" alt="" id="item-7.jpg" class="img-fluid">Where Do I Vote</li></a>
    </ul>
  </div>
</div>
